################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CertReaderConsole/obj
/CertReaderConsole/bin/x64/Debug/net8.0
/CertReaderConsole/.vs
/WFProxyManager/.vs
/WFProxyManager/obj
/WFProxyManager/bin/Debug/net8.0-windows
/WinAudioMixerLib/bin/Debug/net6.0
/WinAudioMixerLib/obj/Debug/net6.0
/WinAudioMixerLib/obj
