################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CertReaderConsole/obj
/CertReaderConsole/bin/x64/Debug/net8.0
/CertReaderConsole/.vs
